{% extends 'basenav.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    {% if cart %}
    <div class="container my-3">
        <div class="row">
            <div class="col-12 col-md-8 bg-fd2048-light rounded-start border-end">
                <div class="row border-bottom">
                    <h1>Votre panier</h1>
                </div>
                {% for item in cart.getCartItems() %}
                    {% include './cart/_cartproduct.html.twig' %}
                {% endfor %}
            </div>
            <div class="col-12 col-md-4 bg-fd2048-light rounded-end py-3"
                    data-controller="cart-total"
                    data-action="
                        cart-quantity:updated@window->cart-total#update
                        cart-delete:removed@window->cart-total#update">
                <div class="row mt-3">
                    <h2>Récapitulatif</h2>
                </div>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-between border-bottom pb-2">
                        <div>
                            <span class="fw-bold">Nombre d'articles</span>
                        </div>
                        <div>
                            <span class="fw-bold" data-cart-total-target="nbItems"></span>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between mt-2">
                        <div>
                            <span class="fw-bold">Total HT</span>
                        </div>
                        <div>
                            <span class="fw-bold" data-cart-total-target="totalHT"></span>
                            <span class="fw-bold">€</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <div>
                            <span class="fw-bold">TVA (20%)</span>
                        </div>
                        <div>
                            <span class="fw-bold" data-cart-total-target="VAT"></span>
                            <span class="fw-bold">€</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between border-bottom pb-2">
                        <div>
                            <span class="fw-bold">Total TTC</span>
                        </div>
                        <div>
                            <span class="fw-bold" data-cart-total-target="totalTTC"></span>
                            <span class="fw-bold">€</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between mt-2">
                        <div>
                            <span class="fw-bold">Frais de port</span>
                        </div>
                        <div>
                            <span class="fw-bold"></span>
                            <span class="fw-bold" data-cart-total-target="shippingFees">Offerts</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <div>
                            <span class="fw-bold h4">Total Commande</span>
                        </div>
                        <div>
                            <span class="fw-bold h4" data-cart-total-target="totalOrder"></span>
                            <span class="fw-bold h4">€</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <button type="button" class="btn text-white bg-f46a79 col-6 mx-auto" disabled>Payer</button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container my-3">
        <div class="row">
            <div class="col-8 bg-fd2048-light rounded">
                <div class="row">
                    <h1 class="text-uppercase">Pas de panier</h1>
                </div>
            </div>
            <div class="row my-3" style="height: 100px;">
                <p class="mb-0">Votre panier est vide</p>
                {% if not app.user %}
                <a href="{{ path('app_login') }}">
                    <p>Connectez vous pour accéder à votre panier</p>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}