{% extends 'baseadmin.html.twig' %}

{% block title %}Modifier une marque{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Modifier une marque</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_brand_index') }}">Retour à la liste</a>
    </div>
    <div class="row py-3">
        {{ include('brand/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
