{% extends 'baseadmin.html.twig' %}

{% block title %}Nouveau type de variation{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Ajouter un nouveau type de variation</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_product_option_index') }}">Retour à la liste</a>
    </div>
    <div class="row py-3">
        {{ include('product_option/_form.html.twig') }}
    </div>
{% endblock %}
