{% extends 'basenav.html.twig' %}

{% block title %}Foire aux questions{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12 col-md-8 mx-auto my-3">
            <h1>FAQ</h1>
            ???
        </div>
    </div>
{% endblock %}