{% extends 'basenav.html.twig' %}

{% block title %}Carte cadeau{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12 col-md-8 mx-auto my-3">
            <h1>A venir</h1>
        </div>

    {#        <row>#}
{#            <div class="col-12 my-3">#}
{#                <div class="row">#}
{#                    <h1>Cartes Cadeau - Sexshop en ligne</h1>#}
{#                </div>#}
{#                <div class="container row mt-1">#}
{#                    <h1>Offrez du plaisir avec nos cartes cadeau !</h1>#}
{#                    <p>Vous cherchez le cadeau parfait pour une occasion spéciale ? Nos cartes cadeau sont la solution idéale pour offrir du plaisir à vos proches.</p>#}

{#                    <div class="card p-1">#}
{#                        <h2>Comment ça fonctionne ?</h2>#}
{#                        <p>1. Choisissez le montant de la carte cadeau que vous souhaitez offrir.</p>#}
{#                        <p>2. Ajoutez-la à votre panier et procédez au paiement.</p>#}
{#                        <p>3. Une fois le paiement effectué, vous recevrez la carte cadeau par email.</p>#}
{#                        <p>4. Transmettez la carte cadeau à la personne de votre choix.</p>#}
{#                        <p>5. Le bénéficiaire pourra utiliser le code de la carte cadeau lors de sa commande sur notre site.</p>#}
{#                    </div>#}

{#                    <div class="card p-1 mt-3">#}
{#                        <h2>Pourquoi choisir nos cartes cadeau ?</h2>#}
{#                        <p>- Flexibilité : Le bénéficiaire peut choisir parmi notre large sélection de produits.</p>#}
{#                        <p>- Confidentialité : Toutes nos livraisons sont discrètes et anonymes.</p>#}
{#                        <p>- Qualité : Nous proposons des produits de haute qualité, respectueux des normes de sécurité.</p>#}
{#                        <p>- Service clientèle : Notre équipe est disponible pour répondre à toutes les questions et garantir une expérience satisfaisante.</p>#}
{#                    </div>#}

{#                    <p>N'attendez plus, offrez du plaisir avec nos cartes cadeau dès aujourd'hui !</p>#}
{#                </div>#}
{#            </div>#}
{#        </row>#}
    </div>
{% endblock %}