<form method="post" action="{{ path('app_feature_delete', {'id': feature.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feature.id) }}">
    <button class="btn">Supprimer</button>
</form>
