{% extends 'baseadmin.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Modifier une catégorie</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_category_index') }}">Retour à la liste</a>
    </div>
    <div class="row py-3">
        {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
