{% extends 'baseadmin.html.twig' %}

{% block title %}Modifier une bannière{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Modifier une bannière</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_hero_index') }}">Retour à la liste</a>
    </div>
    <div class="row py-3">
        {{ include('hero/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
