{% extends 'baseadmin.html.twig' %}

{% block title %}Nouvelle réduction{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Ajouter une nouvelle réduction</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_discount_index') }}">Retour à la liste</a>
    </div>
    <div class="row py-3">
        {{ include('discount/_form.html.twig') }}
    </div>
{% endblock %}
