{% extends 'baseadmin.html.twig' %}

{% block title %}Ajouter une variation{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Ajouter une variation</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_product_option_value_index') }}">Retour à la liste</a>
    </div>
    <div class="row py-3">
        {{ include('product_option_value/_form.html.twig') }}
    </div>
{% endblock %}