<header class="bg-dark py-4">
    <div class="header-content container-fluid d-flex justify-content-between align-items-center">
        {% include './components/header/_hamburger.html.twig' %}
        {% include './components/header/_logo.html.twig' %}
        {% include './components/header/_searchbar.html.twig' %}
        {% include './components/header/_icons.html.twig' %}
    </div>
</header>