<div class="ms-3 me-auto d-none d-md-block">
    <a href="{{ path('app_home') }}">
        <img
            class="logo-image img-fluid"
            src="{{ asset('images/logo.png') }}"
            alt="Logo Header"
            style="max-width: 150px;">
    </a>
</div>