<div class="shadow-sm" style="background-color: {{ background }}; color: {{ color }};">
    <div class="container h-30 d-flex align-items-center justify-content-center small fw-bold">
        {{ text }}
    </div>
</div>